*{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(143, 49, 219);

}

main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px black;
}

h1 {
    font-size: 2em;
    color: rgb(58, 0, 112);
}
